.section1-main{
    background-color: #0C2B5B;
}
.welcometext{
    color:#DAF2EC;
    font-size: 40px;
    
}
.Title1text{
    color:#FDCC95;
    font-size: 40px;
}
.welcometagline{
    color: white;
}