
.imgg1{
    width: 100%;
    height: 60vh;
    border-radius: 20px;
}
.imgg2{
    width: 100%;
    height: 60vh;
    border-radius: 20px;
}
.imgg3{
    width: 100%;
    height: 60vh;
    border-radius: 20px;
}