.ssss{
    background-color : skyblue;
}

.card1:hover{
    transform:scale(1.1)
    
;}
.card2:hover{
    transform:scale(1.1)
;}
.card3:hover{
    transform:scale(1.1)
;}
.hd1{
    color : green;
;}
.hd2{
    color : blue;
;}
.hd3{
    color : red;
;}
.foot{
    background-color: white;
}



